{% block datatable %}
    <table id="{{ uniqueId }}" class="display" style="width:100%">
        <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column | humanize }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tfoot>
        {% for column in columns %}
            <th>{{ column | humanize }}</th>
        {% endfor %}
        </tfoot>
    </table>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#{{ uniqueId }} tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );

            var table = $('#{{ uniqueId }}').DataTable({
                "processing": true,
                "sPaginationType": "full_numbers",
                "serverSide": true,
                "ajax": {
                    "url": "{{ route }}",
                    "type": "POST"
                },
                "columns": [
                    {% for column in columns %}
                    {"data": "{{ column | raw }}"},
                    {% endfor %}
                ]
            });

            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        });
    </script>
{% endblock %}
