{% block datatable %}
    <div class="table-responsive">
        <table id="{{ uniqueId }}" class="display" style="width:100%">
            <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column | humanize }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            {% for column in columns %}
                <th><input type="text" placeholder="Search {{ column|humanize }}"/></th>
            {% endfor %}
            <th>Actions</th>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {

            var table = $('#{{ uniqueId }}').DataTable({
                "processing": true,
                "serverSide": true,
                "colReorder": true,
                "lengthMenu": [
                    [10, 25, 50, -1],
                    ['10 rows', '25 rows', '50 rows', 'Show all']
                ],
                "dom": 'Blfrtip',
                "buttons": [
                    {
                        extend: 'pdf',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: ":visible"
                        }
                    },
                    {
                        extend: 'excel',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: ":visible"
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: ":visible",
                        }
                    },
                    'colvis'
                ],
                "ajax": {
                    "url": "{{ route }}",
                    "type": "GET"
                },
                "columns": [
                    {% for column in columns %}
                    {"data": "{{ column | raw }}"},
                    {% endfor %}
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            var d = new Date(data.date);
                            return d.toLocaleString('sk-SK');
                        },
                        "targets": 3
                    },
                    {
                        "searchable": false,
                        "render": function (data, type, row) {
                            return '' +
                                '<div class="btn-group" role="group" aria-label="Basic example">\n' +
                                '  <a href="/product/' + data + '" class="btn btn-secondary">Show</a>\n' +
                                '  <a href="/product/' + data + '/edit" class="btn btn-secondary">Edit</a>\n' +
                                '</div>'
                        },
                        "orderable": false,
                        "targets": 4
                    }
                ]
            });

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
{% endblock %}
