{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Category index</h1>

        {{ datatable |raw }}

        <a href="{{ path('category.new') }}">Create new</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ datatableJs | raw }}
{% endblock %}
