{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-12">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link"
                       href="{{ path('default.index') }}">All</a>
                    {% for category in categories %}
                        <a class="nav-link"
                           href="{{ path('default.byCategory', {'id': category.id}) }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-10 col-12">
                <div class="row">
                    {% for product in products %}
                        <div class="card" style="width: 18rem;">
                            <img src="{{ image(product.photos.first.image | imageLink).resize(286).guess() }}"
                                 class="card-img-top" alt="{{ product.photos.first.image.originalName }}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ product.title }}<br>
                                    <span class="badge badge-primary">{{ product.category }}</span>
                                </h5>
                                <p class="card-text text-truncate">{{ product.text | slice(0, 100) }}</p>
                                <a href="{{ path('default.show', {'id': product.id}) }}" class="btn btn-primary">Show detail</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
