{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for photo in product.photos %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"
                        class="{{ (loop.first)? 'active' }}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for photo in product.photos %}
                    <div class="carousel-item {{ (loop.first)? 'active' }}">
                        <img src="{{ image(photo.image | imageLink).resize(1280).guess() }}" class="d-block w-100"
                             alt="{{ photo.image.originalName }}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <h1>{{ product.title }} <span class="badge badge-primary">{{ product.category }}</span></h1>
        <p>
            {{ product.text }}
        </p>
    </div>
{% endblock %}
