{% macro order(imageOrders) %}

    <div class="reorder-images">
        <form action="{{ path('remove_image_order') }}"
              onsubmit="return confirm('Are you sure you want to delete selected photos?');" method="post">
            <input type="hidden" name="csfr_token" value="{{ csrf_token('removeImageOrder') }}"/>
            <div class="modal-body choice-modal">
                <div class="container-fluid">
                    <div id="sortable" class="row inner-scroll">
                        {% for imageOrder in imageOrders %}
                            <div id="item_{{ imageOrder.id }}" class="col-md-2">
                                <div class="gallery-card">
                                    <div class="gallery-card-body">
                                        <label class="block-check">
                                            <div style="background-image: url('{{ image(imageOrder.image | imageLink).resize(400).guess() }}')"
                                                 class="img-responsive img"></div>
                                            <input type="checkbox" class="checkable-item" name="image[]"
                                                   value="{{ imageOrder.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-danger">Remove selected</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endmacro %}
