{% macro navItem(path, title, class = '') %}
    <li class="nav-item {{ class }} {{ (app.request.uri == url(path))? 'active' }}">
        <a class="nav-link" href="{{ path(path) }}">{{ title }}</a>
    </li>
{% endmacro %}

{% macro navDropdown(title, items) %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ title }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            {% for item in items %}
                {{ item | raw }}
            {% endfor %}
        </div>
    </li>
{% endmacro %}

{% macro dropdownItem(path, title, class = '') %}
    <a class="dropdown-item {{ class }} {{ (app.request.uri == url(path))? 'active' }}" href="{{ path(path) }}">{{ title }}</a>
{% endmacro %}

{% macro divider() %}
    <div class="dropdown-divider"></div>
{% endmacro %}
