{% extends 'base.html.twig' %}
{% import "macros/imageEditor.macro.twig" as imageEditor %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Product</h1>

        {{ imageEditor.order(product.photos) }}

        {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('product.index') }}">back to list</a>

        {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
