{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Product index</h1>

        {{ datatable |raw }}

        <a href="{{ path('product.new') }}">Create new</a>
    </div>s
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ datatableJs | raw }}
{% endblock %}
