
#bootstrap-override {
  .reorder-images {
    a {
      color: $white;
      text-decoration: none;
    }

    a:hover {
      color: $white;
      text-decoration: none;
    }

    /*--choice modal1--*/

    .openbtn {
      margin-top: 80px;
    }

    .modal-header {
      padding: 15px;
      border-bottom: none;
    }

    .modal-title {
      font-weight: bold;
    }

    .modal-body.choice-modal {
      position: relative;
      padding: 0px;

    }

    .row.inner-scroll {
      height: 445px;
      overflow: auto;
    }

    .mycard-footer {
      height: 25px;
      background: #333333;
      font-size: 15px;
      text-indent: 10px;
      /* border-radius: 0 0px 4px 4px;*/
    }

    .gallery-card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: $white;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem;
      height: 132px;
      margin-bottom: 14px;
    }

    .gallery-card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      /*padding: 1.25rem;*/
    }

    .gallery-card .img {
      height: 130px;
      width: 100%;
      background-position: center;
      background-size: cover;
    }

    label {
      margin-bottom: 0 !important;
    }

    /*--checkbox--*/

    .block-check {
      display: block;
      position: relative;


      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .block-check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: $gray-100;
      cursor: pointer;
    }

    /* On mouse-over, add a grey background color */
    .block-check:hover input ~ .checkmark {
      background-color: $gray-200;
    }

    /* When the checkbox is checked, add a blue background */
    .block-check input:checked ~ .checkmark {
      background-color: $primary;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .block-check input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .block-check .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
