{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-reboot.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/DataTables/datatables.min.css') }}" crossorigin="anonymous">
{% endblock %}

{% block nav %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/DataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/DataTables/Buttons-1.6.0/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/DataTables/Buttons-1.6.0/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/DataTables/Buttons-1.6.0/js/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('assets/js/jszip.min.js') }}"></script>

    {# Images sorting #}
    <script>
        $(function () {
            $("#sortable").sortable({
                cancel: ".ui-state-disabled",
                scrollSensitivity: 100,
                opacity: 0.6,
                cursor: 'move',
                tolerance: 'pointer',
                revert: 100,
                update: function (event, ui) {
                    var data = $(this).sortable('serialize');

                    $.ajax({
                        data: data,
                        type: 'POST',
                        url: '{{ path('sort_image_order') }}'
                    });
                }
            });
            $("#sortable").disableSelection();
        });
    </script>
{% endblock %}

