{% import 'macros/navbar.macro.twig' as nav %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('default.index') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ nav.navItem('product.index', 'Product') }}
            {{ nav.navItem('category.index', 'Category') }}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                {{ nav.navDropdown(app.user.email, [
                    nav.dropdownItem('app_logout', 'Logout'),
                    nav.divider()
                ]) }}
            {% else %}
                {{ nav.navItem('app_register', 'Register') }}
                {{ nav.navItem('app_login', 'Login') }}
            {% endif %}
        </ul>
    </div>
</nav>