{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user.index') }}">back to list</a>
{% endblock %}
