{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ user.date ? user.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user.index') }}">back to list</a>

{#    <a href="{{ path('user.edit', {'id': user.id}) }}">edit</a>#}
    <a class="btn btn-info" href="{{ path('user.change_password', {'id':user.id}) }}">Zmena hesla</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
